
*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}





.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}





















