* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Common Class */
/* Common Class */
.btn {
  background-color: #469165;
  padding: 12px 16px;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1360px;
  margin: 0 auto;

}

/* Common Class */
/* Common Class */


.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.header nav ul {
  display: flex;
  gap: 32px;
}
.header nav ul li a {
  color: black;
}

/* **************Hero Section ***************** */

.hero {
  background: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  height: 674px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-text {
  max-width: 770px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.hero .hero-text .text{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.hero .hero-text h3{
  color: #469165;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 15px;

} 


.hero .hero-text h1 {
  color: white;
  font-size: 72px;
  text-transform: capitalize;
}
.hero .hero-text span {
  color: #30b868;
}
.hero .hero-text p {
  color: white;
  line-height: 29px;
  font-size: 18px;
}

.hero .btn-link {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.hero .btn-link button {
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero .btn-link .btn-2 {
  background-color: inherit;
  border: 1px solid white;
}

/* **************Hero Section ***************** */
