* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* Common Class */
/* Common Class */
.btn{
    background-color: #469165;
    padding:  12px 16px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}

/* Common Class */
/* Common Class */




.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav ul {
  display: flex;
  gap: 32px;
}
.header nav ul li a {
  color: black;
}








